obj/
bin/
packages/
.vs/
/WebApi/Trunk/WebApi/Download
/ASP.NET_Pipeline/trunk/MVC_Pipeline/Logs
/StudyNETFarmework/trunk/Test/TestMvcPlugin/MVCUI/Plugins/temp
Debug/
/数据结构学习笔记/*.log
.vscode/
lib/
node_modules/
Content/themes/
/.NETCore/HostingStartup/RuntimeStore/deployment/store/
/.NETCore/HostingStartup/MyPacks/*.nupkg
/ASP.NET/WebApi/Trunk/DataStore/DAO2/
/ASP.NET/WebApi/Trunk/WebApi/Download
/EntityFramework/.nuget/NuGet.exe
/StudyNETFarmework/trunk/Code/ASP.NET.MVC/App_Data/MVCDB_log.ldf
/StudyNETFarmework/trunk/Code/ASP.NET.MVC/App_Data/MVCDB.mdf
/StudyNETFarmework/trunk/Code/ASP.NET.MVC/App_Data/aspnet-ASP.NET.MVC-20181024053139_log.ldf
/StudyNETFarmework/trunk/Code/ASP.NET.MVC/App_Data/aspnet-ASP.NET.MVC-20181024053139.mdf
runtimes/
